.qty {
    width: 300px;
    height: fit-content;
    margin-top: 14px;
    display: block;
}
  
.qty p {
    font-size: 1.5rem;
}

.qty input{
    width: 90px;
    height: 30px;
    text-align: center;
    font-size: larger;
}